.mediaViewInfo {
	--web-view-name: GeniHomepage;
	--web-view-id: GeniHomepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: GeniHomepage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#GeniHomepage {
	position: absolute;
	width: 1900px;
	height: 4600px;
	background-color: rgba(9,9,67,1);
	overflow: hidden;
	--web-view-name: GeniHomepage;
	--web-view-id: GeniHomepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#henry-chen-ZwRCXGkv30w-unsplas {
	opacity: 0.237;
	mix-blend-mode: screen;
	position: absolute;
	width: 1900px;
	height: 1278px;
	left: 0px;
	top: 2884px;
	overflow: visible;
}
#Rectngulo_60 {
	fill: rgba(243,108,77,1);
}
.Rectngulo_60 {
	position: absolute;
	overflow: visible;
	width: 714px;
	height: 125px;
	left: 147px;
	top: 3551px;
}
#Rectngulo_15 {
	opacity: 0.267;
	fill: rgba(28,45,82,1);
}
.Rectngulo_15 {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1900px;
	height: 1470px;
	left: 0px;
	top: 1091px;
}
#graficos {
	position: absolute;
	width: 1434px;
	height: 1495px;
	left: 648.083px;
	top: -46px;
	overflow: visible;
}
#Genius_is_the_first_high-yield {
	left: 145px;
	top: 282px;
	position: absolute;
	overflow: visible;
	width: 1326px;
	white-space: nowrap;
	line-height: 85px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#Get_Genius {
	opacity: 0.801;
	left: 773.057px;
	top: 1205px;
	position: absolute;
	overflow: visible;
	width: 346px;
	white-space: nowrap;
	line-height: 140px;
	margin-top: -35px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#Using_the_Widget_on_the_right {
	opacity: 0.801;
	left: 683.993px;
	top: 1297px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 140px;
	margin-top: -50px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#This_is_the_Genius_Smart_Finan {
	left: 149px;
	top: 586px;
	position: absolute;
	overflow: visible;
	width: 610px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Componente_2__1 {
	position: absolute;
	width: 365px;
	height: 82px;
	left: 127px;
	top: 746px;
	overflow: visible;
}
#Rectngulo_13 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_13 {
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 82px;
	left: 0px;
	top: 0px;
}
#Watch_Video {
	left: 35px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Grupo_26 {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 285px;
	top: 12px;
	overflow: visible;
}
#Grupo_25 {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_44 {
	fill: rgba(7,7,52,1);
}
.Rectngulo_44 {
	position: absolute;
	overflow: visible;
	width: 1900px;
	height: 438px;
	left: 0px;
	top: 4162px;
}
#Grupo_71 {
	position: absolute;
	width: 2325.521px;
	height: 369px;
	left: -425.521px;
	top: 2561px;
	overflow: visible;
}
#Rectngulo_49_y {
	fill: url(#Rectngulo_49_y);
}
.Rectngulo_49_y {
	filter: drop-shadow(16px 10px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1919.021px;
	height: 386.5px;
	left: 430px;
	top: 0px;
}
#arte1 {
	mix-blend-mode: screen;
	position: absolute;
	width: 1895.521px;
	height: 369px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Got_Genius {
	left: 619.002px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 432px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(255,255,255,1);
}
#The_Genius_you_got_is_actually {
	left: 615.797px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 981px;
	white-space: nowrap;
	line-height: 44px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.2px;
}
#Componente_7__1 {
	position: absolute;
	width: 365px;
	height: 82px;
	left: 1712.521px;
	top: 144px;
	overflow: visible;
}
#Rectngulo_50 {
	fill: rgba(255,255,255,1);
}
.Rectngulo_50 {
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 82px;
	left: 0px;
	top: 0px;
}
#Genius_Sacrifice {
	left: 41px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(243,103,78,1);
}
#Grupo_46 {
	position: absolute;
	width: 64.969px;
	height: 54.677px;
	left: 254px;
	top: 4301.62px;
	overflow: visible;
}
#Grupo_45 {
	position: absolute;
	width: 64.969px;
	height: 54.677px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_48 {
	position: absolute;
	width: 62.721px;
	height: 54.677px;
	left: 165.279px;
	top: 4301.62px;
	overflow: visible;
}
#Grupo_47 {
	position: absolute;
	width: 62.721px;
	height: 54.677px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Copyright_c_2022_All_rights_re {
	opacity: 0.798;
	left: 147px;
	top: 4393px;
	position: absolute;
	overflow: visible;
	width: 443px;
	white-space: nowrap;
	line-height: 44px;
	margin-top: -7px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.6px;
}
#Disclaimer {
	opacity: 0.798;
	left: 147px;
	top: 4443px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
	line-height: 44px;
	margin-top: -7px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.6px;
}
#Screen_Shot_2022-04-25_at_1336 {
	position: absolute;
	width: 650px;
	height: 996px;
	left: 1100px;
	top: 1426px;
	overflow: visible;
}
#CUADRO1-copy {
	position: absolute;
	width: 905px;
	height: 247px;
	left: 144px;
	top: 1363px;
	overflow: visible;
}
#CUADRO1-copy_bd {
	position: absolute;
	width: 905px;
	height: 247px;
	left: 144px;
	top: 1574px;
	overflow: visible;
}
#CUADRO1-copy_be {
	position: absolute;
	width: 926px;
	height: 304px;
	left: 144px;
	top: 1986px;
	overflow: visible;
}
#CUADRO1-copy_bf {
	position: absolute;
	width: 905px;
	height: 257px;
	left: 144px;
	top: 1785px;
	overflow: visible;
}
#CUADRO1-copy_bg {
	position: absolute;
	width: 905px;
	height: 258px;
	left: 144px;
	top: 2212px;
	overflow: visible;
}
#n_Click_the_Import_button {
	opacity: 0.701;
	left: 374.453px;
	top: 1490px;
	position: absolute;
	overflow: visible;
	width: 551px;
	height: 60px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Click_the_Connect_Wallet_butto {
	opacity: 0.701;
	left: 374.207px;
	top: 1700px;
	position: absolute;
	overflow: visible;
	width: 609px;
	height: 61px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Click_Select_a_token_to_choose {
	opacity: 0.701;
	left: 374.341px;
	top: 1901px;
	position: absolute;
	overflow: visible;
	width: 578px;
	height: 96px;
	line-height: 36px;
	margin-top: -0.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Click_the_Swap_button {
	opacity: 0.701;
	left: 374.341px;
	top: 2343px;
	position: absolute;
	overflow: visible;
	width: 578px;
	height: 96px;
	line-height: 36px;
	margin-top: -0.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Make_sure_you_have_a_balance_w {
	opacity: 0.701;
	left: 374.131px;
	top: 2105px;
	position: absolute;
	overflow: visible;
	width: 626px;
	height: 150px;
	line-height: 34px;
	margin-top: -1px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#STEP_1 {
	opacity: 0.798;
	left: 375.764px;
	top: 1439px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 46px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#STEP_2 {
	opacity: 0.798;
	left: 375.749px;
	top: 1649px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -4px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#STEP_3 {
	opacity: 0.798;
	left: 375.759px;
	top: 1851px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 46px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#STEP_5 {
	opacity: 0.798;
	left: 375.759px;
	top: 2293px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 46px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#STEP_4 {
	opacity: 0.798;
	left: 375.754px;
	top: 2062px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 46px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(255,255,255,1);
}
#Lnea_2 {
	opacity: 0.566;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 848.242px;
	left: 146.473px;
	top: 1473.661px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_60 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 127px;
	top: 1433px;
	overflow: visible;
}
#Elipse_2 {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_3 {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_1 {
	fill: rgba(7,7,55,1);
}
.Elipse_1 {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 25px;
	left: 8px;
	top: 8px;
}
#Grupo_61 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 127px;
	top: 1677px;
	overflow: visible;
}
#Elipse_2_bx {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_bx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_3_by {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_by {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_1_bz {
	fill: rgba(7,7,55,1);
}
.Elipse_1_bz {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 25px;
	left: 8px;
	top: 8px;
}
#Grupo_65 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 127px;
	top: 1887px;
	overflow: visible;
}
#Elipse_2_b {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_b {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_3_b {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_b {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_1_b {
	fill: rgba(7,7,55,1);
}
.Elipse_1_b {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 25px;
	left: 8px;
	top: 8px;
}
#Grupo_67 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 127px;
	top: 2109px;
	overflow: visible;
}
#Elipse_2_ca {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_ca {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_3_ca {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_ca {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_1_ca {
	fill: rgba(7,7,55,1);
}
.Elipse_1_ca {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 25px;
	left: 8px;
	top: 7px;
}
#Grupo_68 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 127px;
	top: 2321px;
	overflow: visible;
}
#Elipse_2_cb {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_3_cb {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_cb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#Elipse_1_cb {
	fill: rgba(7,7,55,1);
}
.Elipse_1_cb {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 25px;
	left: 8px;
	top: 8px;
}
#Grupo_62 {
	opacity: 0.56;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 194px;
	top: 1411px;
	overflow: visible;
}
#Elipse_2_cd {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cd {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Elipse_3_ce {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_ce {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Grupo_63 {
	opacity: 0.56;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 194px;
	top: 1622px;
	overflow: visible;
}
#Elipse_2_cg {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cg {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Elipse_3_ch {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_ch {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Grupo_64 {
	opacity: 0.56;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 194px;
	top: 1839px;
	overflow: visible;
}
#Elipse_2_cj {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cj {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Elipse_3_ck {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_ck {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Grupo_70 {
	opacity: 0.56;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 194px;
	top: 2266px;
	overflow: visible;
}
#Elipse_2_cm {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cm {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Elipse_3_cn {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_cn {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Grupo_69 {
	opacity: 0.56;
	position: absolute;
	width: 137px;
	height: 137px;
	left: 194px;
	top: 2060px;
	overflow: visible;
}
#Elipse_2_cp {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cp {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#Elipse_3_cq {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_cq {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 137px;
	left: 0px;
	top: 0px;
}
#The_Sacrifice_hasnt_started_wh {
	left: 175px;
	top: 3322px;
	position: absolute;
	overflow: visible;
	width: 660px;
	white-space: nowrap;
	line-height: 120px;
	margin-top: -10px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Follow_Genius_on_Twitter_https {
	left: 1118px;
	top: 3832px;
	position: absolute;
	overflow: visible;
	width: 610px;
	height: 120px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Tell_your_friends_about_Genius {
	left: 1124px;
	top: 3190px;
	position: absolute;
	overflow: visible;
	width: 696px;
	height: 67px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Read_the_White_Paper {
	left: 1121px;
	top: 3323px;
	position: absolute;
	overflow: visible;
	width: 696px;
	height: 67px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Bookmark_the_Sacrifice_website {
	left: 1119px;
	top: 3433px;
	position: absolute;
	overflow: visible;
	width: 655px;
	height: 111px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Join_the_Genius_community_on_T {
	left: 1118px;
	top: 3572px;
	position: absolute;
	overflow: visible;
	width: 624px;
	height: 111px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Follow_Genius_News_on_the_Tele {
	left: 1118px;
	top: 3705px;
	position: absolute;
	overflow: visible;
	width: 655px;
	height: 111px;
	line-height: 40px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Grupo_72 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3151px;
	overflow: visible;
}
#Elipse_2_cz {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_cz {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_c {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_c {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_c {
	fill: rgba(255,255,255,1);
}
.Elipse_1_c {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_73 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3284px;
	overflow: visible;
}
#Elipse_2_c {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_c {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_da {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_da {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_da {
	fill: rgba(255,255,255,1);
}
.Elipse_1_da {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_74 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3417px;
	overflow: visible;
}
#Elipse_2_da {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_da {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_db {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_db {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_db {
	fill: rgba(255,255,255,1);
}
.Elipse_1_db {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_75 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3550px;
	overflow: visible;
}
#Elipse_2_db {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_db {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_dc {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_dc {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_dd {
	fill: rgba(255,255,255,1);
}
.Elipse_1_dd {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_76 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3683px;
	overflow: visible;
}
#Elipse_2_df {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_df {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_dg {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_dg {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_dh {
	fill: rgba(255,255,255,1);
}
.Elipse_1_dh {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_77 {
	position: absolute;
	width: 106px;
	height: 106px;
	left: 988.975px;
	top: 3816px;
	overflow: visible;
}
#Elipse_2_dj {
	opacity: 0.291;
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_2_dj {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_3_dk {
	opacity: 0.291;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_3_dk {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Elipse_1_dl {
	fill: rgba(255,255,255,1);
}
.Elipse_1_dl {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 82px;
	left: 13px;
	top: 13px;
}
#Grupo_86 {
	position: absolute;
	width: 34.861px;
	height: 46.237px;
	left: 1025.453px;
	top: 3446.881px;
	overflow: visible;
}
#Grupo_85 {
	position: absolute;
	width: 34.861px;
	height: 46.237px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_88 {
	position: absolute;
	width: 59.264px;
	height: 35.298px;
	left: 1013.239px;
	top: 3319.351px;
	overflow: visible;
}
#Grupo_87 {
	position: absolute;
	width: 59.264px;
	height: 35.298px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_90 {
	position: absolute;
	width: 44.103px;
	height: 48.118px;
	left: 1016.255px;
	top: 3179.941px;
	overflow: visible;
}
#Grupo_89 {
	position: absolute;
	width: 44.104px;
	height: 48.118px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_92 {
	position: absolute;
	width: 51.823px;
	height: 43.614px;
	left: 1012.293px;
	top: 3583.886px;
	overflow: visible;
}
#Grupo_91 {
	position: absolute;
	width: 51.823px;
	height: 43.614px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_93 {
	position: absolute;
	width: 51.823px;
	height: 43.614px;
	left: 1012.293px;
	top: 3716.886px;
	overflow: visible;
}
#Grupo_91_dv {
	position: absolute;
	width: 51.823px;
	height: 43.614px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_94 {
	position: absolute;
	width: 46.846px;
	height: 40.838px;
	left: 1020.214px;
	top: 3850.162px;
	overflow: visible;
}
#Grupo_47_dx {
	position: absolute;
	width: 46.846px;
	height: 40.838px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_125 {
	position: absolute;
	width: 1396.881px;
	height: 87.592px;
	left: 249px;
	top: 88.415px;
	overflow: visible;
}
#Grupo_15 {
	position: absolute;
	width: 173.439px;
	height: 87.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_14 {
	position: absolute;
	width: 173.439px;
	height: 87.592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Get_Genius_d {
	left: 529.326px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#White_Paper {
	left: 210.354px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Sacrifice {
	left: 395.622px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___1.html;
	cursor: pointer;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}

#Subscription {
	left: 701.493px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Github {
	left: 1019.241px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Contract {
	left: 880.095px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Disclaimer_d {
	left: 1134.709px;
	top: 46.585px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
a.main-menu {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-decoration: none;
}
a.text-link {
	text-decoration: none;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}
#Grupo_97 {
	position: absolute;
	width: 99.028px;
	height: 37.68px;
	left: 1297.853px;
	top: 43.585px;
	overflow: visible;
}
#Grupo_95 {
	position: absolute;
	width: 45.122px;
	height: 37.68px;
	left: 53.906px;
	top: 0px;
	overflow: visible;
}
#Grupo_45_ea {
	position: absolute;
	width: 45.122px;
	height: 37.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_96 {
	position: absolute;
	width: 43.561px;
	height: 37.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_47_ec {
	position: absolute;
	width: 43.561px;
	height: 37.68px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_101 {
	position: absolute;
	width: 78.353px;
	height: 78px;
	left: 223.324px;
	top: 1433px;
	overflow: visible;
}
#Grupo_100 {
	position: absolute;
	width: 78.353px;
	height: 78px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_103 {
	position: absolute;
	width: 78.353px;
	height: 71.743px;
	left: 223.324px;
	top: 1657.129px;
	overflow: visible;
}
#Grupo_102 {
	position: absolute;
	width: 78.353px;
	height: 71.743px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_120 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 216.375px;
	top: 1865.324px;
	overflow: visible;
}
#Grupo_105 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_104 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_107 {
	position: absolute;
	width: 6.776px;
	height: 41.55px;
	left: 57.608px;
	top: 1.514px;
	overflow: visible;
}
#Grupo_106 {
	position: absolute;
	width: 6.776px;
	height: 41.55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_109 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_108 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_111 {
	position: absolute;
	width: 6.652px;
	height: 33.371px;
	left: 43.775px;
	top: 9.693px;
	overflow: visible;
}
#Grupo_110 {
	position: absolute;
	width: 6.652px;
	height: 33.371px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_113 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_112 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_115 {
	position: absolute;
	width: 6.665px;
	height: 25.649px;
	left: 29.594px;
	top: 17.415px;
	overflow: visible;
}
#Grupo_114 {
	position: absolute;
	width: 6.665px;
	height: 25.649px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_117 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_116 {
	position: absolute;
	width: 85.301px;
	height: 101.676px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_119 {
	position: absolute;
	width: 56.465px;
	height: 60.671px;
	left: 14.413px;
	top: 28.433px;
	overflow: visible;
}
#Grupo_118 {
	position: absolute;
	width: 56.465px;
	height: 60.671px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_122 {
	position: absolute;
	width: 84.938px;
	height: 276.762px;
	left: 219.553px;
	top: 2089.556px;
	overflow: visible;
}
#Grupo_121 {
	position: absolute;
	width: 84.938px;
	height: 84.888px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_124 {
	position: absolute;
	width: 83.511px;
	height: 56.663px;
	left: 0px;
	top: 220.099px;
	overflow: visible;
}
#Grupo_123 {
	position: absolute;
	width: 83.511px;
	height: 56.663px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_149 {
	opacity: 0.3;
	position: absolute;
	width: 230.445px;
	height: 120.233px;
	left: 1541.555px;
	top: 4332.884px;
	overflow: visible;
}
#Grupo_43 {
	position: absolute;
	width: 230.445px;
	height: 120.232px;
	left: 0px;
	top: 0px;
	overflow: visible;
}