@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;600;700&display=swap');
@import url("https://use.typekit.net/okr1cny.css");
body{
	background:#090B3C;
}
.custom-toggler .navbar-toggler-icon {
  background: url("../img/menu.png");
}

.custom-toggler.navbar-toggler {
  border: 1px solid white;
} 
.main-menu li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-menu li a{
	display:inline-block;
	padding:5px 5px;
	margin-right: 5px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color:white;
}

.disclaimer .main-menu li a{
	color:#353152;
}
.nav-link:focus, .nav-link:hover {
	border-radius: 10px;
	color:#353152;
}

.nav-link.ico,.nav-link.ico:hover{
	margin-right: 0;
}
.bg-graph{
	
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:0;
	
}
.stat{
	background: url("../img/head-bg.png");
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	top: 0;
	
}
.bg-banner{
	height: 100vh;
	display: flex;
	padding-top: 100px;
	background: transparent;
	z-index: 5;
}

.stat img{
	height: 145%;
	float: right;
}
.block-down{
	/*background: #1C2D52;*/
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 0px;
}
.banner-title{
	color: White;
	font-family: 'Aleo', serif;
}
.banner-cnt-text{
	color: White;
	font-family: 'Aleo', serif;
	font-size:1.4rem;
	margin-bottom: 20px;
}
.btn-banner, .btn-banner:hover{
	text-decoration: none;
	border: 1px solid white;
	color: white;
	border-radius: 25px;
	padding: 15px 10px 15px 40px; 
	text-align: center;
	font-family: 'Aleo', serif;
	font-size:1.4rem;
}.btn-banner img{
	margin-left: 10px;
}
.list-genius{
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}
.list-genius li{
	display: flex;
	padding-bottom: 10px;
}
.list-genius li .list-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Aleo', serif;
    font-size: 1.2rem;
}
.block2{
	background: url('../img/bg-blk.png');
	font-family: 'Aleo', serif;
	padding: 25px 0px;
}
.blk-title{
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
}
.blk-title + p{
	color: white;
	font-size: 1.5rem;
	
}
.btn-blk, .btn-blk:hover{
	padding: 10px 40px;
	border-radius: 25px;
	text-decoration: none;
	background: white;
	color: #F46F4C;
	font-size: 1.2rem;
}
.block3{
	background: url('../img/bg-foto.png');
	background-size: cover;
	font-family: 'Aleo', serif;
	padding: 25px 0px;
	height: 100vh;
}
.list-section{
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}

.list-section li{
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	widows: 100%;
}
.list-section li span{
	margin-right: 15px;
}
.full-height{
	height: 100vh;
}
.section-title{
	color: white;
	font-size: 4rem;
	font-weight: bold;
}
.btn-section, .btn-section:hover{
	padding: 10px 40px;
	border-radius: 50px;
	text-decoration: none;
	background: #F36C4D;
	color: #0B0B46;
	font-size: 3.5rem;
	font-weight: bold;
}
.footer{
	background-color: #061121;
	width: 100%;
	padding: 50px 0;
  
}
 .footer-block{
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }
.social-icos{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}
.social-icos li{
	padding: 5px;
}
.social-icos li .net{
	color: #faa840;
	font-size: 1.3rem;
	text-decoration: none;
}
.f-menu{
	list-style: none;
	display: inline-block;
}
.f-menu li{
	padding: 5px 20px;
	text-align: end;
}
.f-menu li a{
	color: #fff;
	font-size: 1.2rem;
	text-align: right;
}
.footer .copy p{
	color: #ffffff;
	font-size: 0.8rem;
}
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.stat{
		height: 45vh;
		opacity: 0.8;
	}
	.bg-banner{
		padding-top: 50px;
		height: 50vh;
	}
	.blk-title + p {
    font-size: 1rem;
	}
	.section-title {
    font-size: 3rem;
	}
	.btn-section, .btn-section:hover{
		padding: 10px 30px;
		font-size: 3rem !important;
	}
}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	.stat{
		height: 50vh;
		opacity: 0.8;
	}
	.bg-banner{
		padding-top: 50px;
		height: 50vh;
	}
	.btn-section, .btn-section:hover{
		padding: 10px 30px;
		font-size: 2rem !important;
	}
}
